*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
  all: unset;
  display: revert;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
img,
video {
  max-width: 100%;
  vertical-align: middle;
}
table {
  border-collapse: collapse;
}

/* font-family: "Oswald", sans-serif;
  font-family: "Quicksand", sans-serif; */

:root {
  --background-color: #f8edeb;
  --text-color: #000000;
  --button-color: #aac0b3;
  --bigtext-color: #cd7f70;
  --forms-color: #fcf8f7;
  --footer-color: #fcf8f7;
  --hover-color: #aac0b3;
  --line-color: #ebcdc7;
}

/* FORM UDFYLDNINGS CSS */

h2,
h3 {
  font-weight: lighter;
}
h2 {
  padding-bottom: 80px;
}
hr {
  margin-top: 120px;
  margin-bottom: 120px;
}
h3 {
  padding-bottom: 20px;
}

.testbox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: min-content;
  padding: 20px;
}
form {
  width: 100%;
  padding: 20px;
  border-radius: 6px;
  background: var(--forms-color);
}
.banner {
  position: relative;
  height: 110px;
  background-color: var(--forms-color);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

input,
select,
textarea {
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
input {
  width: calc(100% - 10px);
  padding: 5px;
  background-color: var(--footer-color);
}
input[type="date"] {
  padding: 4px 5px;
}
select {
  width: 100%;
  padding: 7px 0;
  background: transparent;
}
textarea {
  width: calc(100% - 12px);
  padding: 5px;
}
.item:hover p,
.item:hover i,
.question:hover p,
.question label:hover,
input:hover::placeholder {
  color: var(--bigtext-color);
}
.item input:hover,
.item select:hover,
.item textarea:hover {
  border: 1px solid transparent;
  box-shadow: 0 0 6px 0 #aac0b3;
  color: var(--bigtext-color);
}
.item {
  position: relative;
  margin: 10px 0;
}
input[type="date"]::-webkit-inner-spin-button {
  display: none;
}
.item i,
input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  font-size: 20px;
  color: #a9a9a9;
}
.item i {
  right: 2%;
  top: 30px;
  z-index: 1;
}
[type="date"]::-webkit-calendar-picker-indicator {
  right: 1%;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
}
input[type="radio"],
input[type="checkbox"] {
  display: none;
}
label.radio {
  position: relative;
  display: inline-block;
  margin: 5px 20px 15px 0;
  cursor: pointer;
}
.question span {
  margin-left: 30px;
}
label.radio:before {
  content: "";
  position: absolute;
  left: 0;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  border: 2px solid #ccc;
}
input[type="radio"]:checked + label:before,
label.radio:hover:before {
  border: 2px solid #aac0b3;
}
label.radio:after {
  content: "";
  position: absolute;
  top: 6px;
  left: 5px;
  width: 8px;
  height: 4px;
  border: 3px solid #aac0b3;
  border-top: none;
  border-right: none;
  transform: rotate(-45deg);
  opacity: 0;
}
input[type="radio"]:checked + label:after {
  opacity: 1;
}
.btn-block {
  margin-top: 10px;
  text-align: center;
}

@media (min-width: 568px) {
  .name-item,
  .city-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .name-item input,
  .city-item input {
    width: calc(50% - 20px);
  }
  .city-item select {
    width: calc(50% - 8px);
  }
}

/* FORM UDFYLDNINGS CSS SLUT */

.question_section_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 19px;
  text-align: center;
  margin-inline: 1rem;
}

#question_section {
  margin-bottom: 2rem;
}

.hero_img {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.hero_img img {
  object-fit: cover;
  border: 1px transparent;
  border-radius: 12px;
}

#second_section h3 {
  text-align: center;
}

#second_section {
  margin: 1rem;
  margin-bottom: 2rem;
}

#third_section h4 {
  text-align: center;
  padding-bottom: 20px;
}

.behandling_container {
  width: 369px;
  height: 337px;
  background-repeat: no-repeat;
}

#ansigts {
  background-image: url("img/ansigts.webp");
}

#negle {
  background-image: url("img/negle.webp");
}

#voks {
  background-image: url("img/voks.webp");
}
#collagen {
  background-image: url("img/collagen.webp");
}
#spraytan {
  background-image: url("img/spraytan.webp");
}
#vipper {
  background-image: url("img/vipperbryn.webp");
}
#lila {
  background-image: url("img/frisor.webp");
}
#sugaring {
  background-image: url("img/sugaring.webp");
}
#kropsmassage {
  background-image: url("img/massage.webp");
}

.behandling_sprite {
  text-align: center;
  margin-top: 8rem;
  font-size: 23px;
  font-family: "Montserrat";
  color: var(--text-color);

  cursor: pointer;
}

.oversigt {
  display: flex;
  flex-direction: column;
  align-content: center;
  place-content: center;
  place-items: center;
  gap: 1rem;
  margin-block: 1rem;
  margin-bottom: 2rem;
}

@media only screen and (min-width: 500px) {
  #first_section {
    grid-template-columns: 1fr 1fr;
    display: grid;
    margin: 1rem;
  }

  .testbox {
    padding: 0;
  }

  .hero_img {
    margin: 0;
    border-radius: 12px;
  }
}

@media only screen and (min-width: 700px) {
  .oversigt {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1rem;
    margin-inline: 3rem;
    margin-bottom: 2rem;
  }

  main {
    margin-inline: 2rem;
  }

  .behandling_container {
    width: 358px;
  }

  #third_section {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

@media only screen and (min-width: 950px) {
  .oversigt {
    grid-template-columns: 1fr 1fr 1fr;
    margin-inline: 3rem;
    width: fit-content;
  }

  .behandling_container {
    width: 25vw;
    height: 25vw;
    background-position-y: center;
    background-position-x: center;
  }

  main {
    margin-inline: 9rem;
  }

  #third_section {
    place-content: center;
    align-items: center;
  }
}

@media only screen and (min-width: 1350px) {
  .oversigt {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-inline: 3rem;
    width: fit-content;
    margin-bottom: 2rem;
  }

  main {
    margin-inline: 14rem;
  }

  .behandling_container {
    width: 18vw;
    height: 18vw;
  }
}
