:root {
  --background-color: #f8edeb;
  --text-color: #000000;
  --button-color: #aac0b3;
  --bigtext-color: #cd7f70;
  --forms-color: #fcf8f7;
  --footer-color: #fcf8f7;
  --hover-color: #aac0b3;
  --line-color: #ebcdc7;
}

/* BURGERMENU */
.hidden {
  display: none !important;
  /*transform:scale(0);*/
  /* transform: translateX(-100%); */
}

.menu_support {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-inline: 1rem;
}

#menuknap {
  display: flex;
  place-self: right;
  justify-content: right;
  color: black;
  font-size: 2.3rem;
  font-family: sans-serif;
  font-weight: lighter;
}

.menu {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: right;
  transition: 0.2s;
  transform-origin: top left;
  font-family: Righteous;
  color: #609511;
  font-size: 2.3rem;
  position: fixed;
  background-color: #f8edeb;
  width: 100vw;
  height: 100vh;
  padding: 0;
  gap: 30px;
}

#logo_img_desk {
  display: none;
}

.menu li {
  display: flex;
  justify-content: center;
  margin: 0.5rem;
}

#logo_menu {
  display: none;
  border: 2px solid white;
  border-radius: 18px;
  cursor: pointer;
}

#logo_burger {
  display: inline;
  height: 4.5rem;
  width: 4.5rem;
}

#logo_burger_bottom {
  width: 186px;
  margin-top: 6rem;
}

body > header:nth-child(1) {
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: var(--background-color);
  margin-bottom: 0;
  height: 90px;
  z-index: 3;
}

@media only screen and (min-width: 700px) {
  #menuknap {
    display: none;
  }

  body > header:nth-child(1) {
    background-color: #f8edeb;
    position: sticky;
  }

  .menu > hr:nth-child(5) {
    display: none;
  }

  #logo_burger_bottom {
    display: none;
  }

  .menu.hidden {
    transform: translateX(0);
    opacity: 1;
  }

  .menu li {
    display: inline;
  }

  .hidden {
    display: flex !important;
  }

  .menu {
    display: flex;
    justify-content: center;
    flex-flow: row;
    background-color: #f8edeb;
    /* margin-top: 30px; */
    font-family: Righteous;
    color: #609511;
    font-size: 2.3rem;
    height: 7vh;
    margin-top: 5rem;
  }

  #logo_menu {
    display: block;
    height: 8vh;
    width: 4rem;
  }

  .menu_support {
    justify-content: space-between;
    justify-content: center;
    background-color: #f8edeb;
  }

  #logo_img_desk {
    display: flex;
    width: 8rem;
  }

  #logo_burger {
    display: none;
  }

  #filter_container {
    display: flex;
    justify-content: center;
    margin-block: 1rem;
  }

  #logo_desk {
    position: fixed;
    background-color: #f8edeb;
    width: 100vw;
    justify-content: center;
    place-content: center;
    place-items: center;
    display: flex;
    justify-content: center;
    margin-top: 0rem;
    padding-top: 0;
    top: 0;
  }

  .menu > li:nth-child(4) {
    padding: 0;
    gap: 0;
    margin: 0;
  }

  #menu_support {
    margin: 0rem;
  }

  /*BURGERMENU SLUT*/
}
