:root {
  --background-color: #f8edeb;
  --text-color: #000000;
  --button-color: #aac0b3;
  --bigtext-color: #cd7f70;
  --forms-color: #fcf8f7;
  --footer-color: #fcf8f7;
  --hover-color: #aac0b3;
  --line-color: #ebcdc7;
}

hr {
  border: 1px solid var(--line-color);
  width: 80vw;
  margin-top: 100px;
  margin-bottom: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

main {
  margin: 1rem;
}

.section_one {
  display: grid;
}
.section_1 {
  padding-top: 100px;
  padding-bottom: 50px;
}

.section_1 h2 {
  text-align: center;
  font-weight: lighter;
  padding-top: 15px;
}

@media (min-width: 600px) {
  .section_1 {
    padding-top: 10px;
  }
}

@media (min-width: 600px) {
  .section_one {
    grid-template-columns: 1fr 1fr;
  }
}

.section_3 {
  margin-top: 50px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 50px;
  text-align: center;
}
button {
  margin-top: 15px;
}
.heading h2 {
  font-weight: bolder;
  color: var(--bigtext-color);
  padding-bottom: 15px;
}

@media (min-width: 600px) {
  .heading {
    padding-bottom: 30px;
  }
}

.section_4 {
  padding-top: 50px;
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 60px;
}

.section_two {
  display: grid;
}

.section_5 {
  padding-left: 15px;
  padding-right: 15px;
}

.section_5 h3 {
  padding-bottom: 15px;
}
.section_5 p {
  padding-bottom: 15px;
}

.section_5 button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 600px) {
  .section_two {
    grid-template-columns: 1fr 1fr;
  }
}

.section_three {
  display: grid;
}

.section_7 {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 50px;
}

.section_7 h3 {
  padding-bottom: 15px;
}

.section_7 p {
  padding-bottom: 15px;
}

.section_7 button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 600px) {
  .section_7 {
    padding-top: 10px;
  }
}

@media (min-width: 600px) {
  .section_three {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.følg_med h2 {
  padding-top: 20px;
  margin-bottom: 15px;
}

@media (min-width: 600px) {
  .følg_med {
    margin-left: 100px;
    margin-right: 100px;
  }
}

form {
  background-color: var(--forms-color);
  padding-bottom: 20px;
}
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 16px 8px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #fcf8f7;
  box-sizing: border-box;
  border: 1px solid var(--line-color);
}

.følg_med button {
  background-color: #aac0b3;
  color: black;
  padding: 14px 0;
  margin: 10px 0;
  border: none;
  cursor: grab;
  width: 48%;
}

.følg_med p {
  text-align: center;
}
.følg_med button:hover {
  opacity: 0.8;
}
.formcontainer {
  text-align: center;
  margin: 24px 50px 12px;
}
.container {
  padding: 16px 0;
  text-align: left;
}
span.psw {
  float: right;
  padding-top: 0;
  padding-right: 15px;
}
