*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
  all: unset;
  display: revert;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
img,
video {
  max-width: 100%;
  vertical-align: middle;
}
table {
  border-collapse: collapse;
}

/* font-family: "Oswald", sans-serif;
  font-family: "Quicksand", sans-serif; */

:root {
  --background-color: #f8edeb;
  --text-color: #000000;
  --button-color: #aac0b3;
  --bigtext-color: #cd7f70;
  --forms-color: #fcf8f7;
  --footer-color: #fcf8f7;
  --hover-color: #aac0b3;
  --line-color: #ebcdc7;
}

/*filtrerings menu*/
#filtrer {
  margin: 10px;
  display: grid;
  border-width: 200px;
  border: 1px solid #ebcdc7;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
  gap: 7px;
  margin-bottom: 1rem;
  background-color: var(--forms-color);
}

.filtrerings_knap,
#all {
  background-color: var(--forms-color);
}

.produkt {
  place-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
}

button,
.tilbage_knap {
  border: none;
  background-color: var(--background-color);
  font-size: 1.2rem;
  cursor: pointer;
}

button:hover {
  color: var(--background-color);
}

p {
  text-align: center;
}

.tilbage_knap_box {
  display: flex;
  justify-content: center;
  padding-bottom: 4rem;
}

article p {
  font-size: 0.9rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
  line-height: 1.3rem;
  padding: 1rem;
}

footer {
  margin: auto;
}

.produkt h2 {
  text-align: center;
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-size: 1rem;
}

.produkt button {
  width: 250px;
  align-self: center;
}

.produkt-billede {
  margin-bottom: 0rem;
  margin-top: 3rem;
  width: 80vw;
}

.valgt {
  color: var(--button-color);
  background-color: var(--forms-color);
}

.billede {
  height: auto;
  width: 90%;
  margin-inline: auto;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

#liste {
  place-items: center;
  display: flex;
  flex-direction: column;
}

:root {
  --background-color: #f8edeb;
  --text-color: #000000;
  --button-color: #aac0b3;
  --bigtext-color: #cd7f70;
  --forms-color: #fcf8f7;
  --footer-color: #fcf8f7;
  --hover-color: #aac0b3;
  --line-color: #ebcdc7;
}

.tilbage_knap_box {
  margin-top: 3rem;
}

.question_section_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 19px;
  text-align: center;
  margin-inline: 1rem;
}

#question_section {
  margin-bottom: 2rem;
}

/* body > header:nth-child(1) {
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: var(--background-color);
  margin-bottom: 0;
  height: 90px;
} */

@media only screen and (min-width: 500px) {
  #filtrer {
    grid-template-columns: 1fr 1fr 1fr;
    margin-inline: 4rem;
  }
}

@media only screen and (min-width: 650px) {
  #liste {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-inline: 3rem;
  }

  #filtrer {
    margin: 10px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
  }

  .produkt-billede {
    width: 40vw;
  }
}

@media only screen and (min-width: 800px) {
  #liste {
    margin-inline: 4rem;
  }
}

@media only screen and (min-width: 1100px) {
  #liste {
    grid-template-columns: 1fr 1fr 1fr;
    margin-inline: 8rem;
  }

  .produkt-billede {
    width: 25vw;
  }
}

@media only screen and (min-width: 1450px) {
  #liste {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-inline: 10rem;
  }

  .produkt-billede {
    width: 18vw;
  }
}
