*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
  all: unset;
  display: revert;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
img,
video {
  max-width: 100%;
  vertical-align: middle;
}
table {
  border-collapse: collapse;
}

/* font-family: "Oswald", sans-serif;
  font-family: "Quicksand", sans-serif; */

:root {
  --background-color: #f8edeb;
  --text-color: #000000;
  --button-color: #aac0b3;
  --bigtext-color: #cd7f70;
  --forms-color: #fcf8f7;
  --footer-color: #fcf8f7;
  --hover-color: #aac0b3;
  --line-color: #ebcdc7;
}

body {
  background-color: var(--background-color);
}

main {
  margin-top: 3rem;
}

hr {
  border: 1px solid var(--line-color);
  width: 80vw;
}

h1 {
  color: var(--text-color);
  font-size: 65px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

h2 {
  color: var(--text-color);
  font-size: 46px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

h3 {
  font-size: 32px;
  color: var(--text-color);
  font-family: "Montserrat", sans-serif;
}

h4 {
  font-size: 28px;
  font-family: "Playfair Display", serif;
  text-align: center;
}

p {
  font-size: 23px;
  font-family: "Playfair Display", serif;
}

a {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  text-decoration: none;
  color: rgba(15, 15, 15, 0.849);
}

button {
  font-size: 22px;
  font-family: "Playfair Display", serif;
  background-color: var(--button-color);
  border: 1px solid var(--text-color);
  border-radius: 12px;
  padding-inline: 0.5rem;
}

@media only screen and (min-width: 700px) {
  main {
    margin-top: 8rem;
  }
}
