*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
  all: unset;
  display: revert;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
img,
video {
  max-width: 100%;
  vertical-align: middle;
}
table {
  border-collapse: collapse;
}

/* font-family: "Oswald", sans-serif;
  font-family: "Quicksand", sans-serif; */

:root {
  --background-color: #f8edeb;
  --text-color: #000000;
  --button-color: #aac0b3;
  --bigtext-color: #cd7f70;
  --forms-color: #fcf8f7;
  --footer-color: #fcf8f7;
  --hover-color: #aac0b3;
  --line-color: #ebcdc7;
}

body {
  background-color: var(--background-color);
}

main {
  margin-top: 6rem;
}

hr {
  border: 1px solid var(--line-color);
  width: 80vw;
  place-self: center;
}
.hr_holder {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

h1 {
  color: var(--text-color);
  font-size: 60px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

h2 {
  color: var(--text-color);
  font-size: 38px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

h3 {
  font-size: 30px;
  color: var(--text-color);
  font-family: "Montserrat", sans-serif;
}

h4 {
  font-size: 23px;
  font-family: "Playfair Display", serif;
  text-align: center;
}

p {
  font-size: 18px;
  font-family: "Playfair Display", serif;
  line-height: 1.7;
}

a {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  text-decoration: none;
  color: rgba(15, 15, 15, 0.849);
  cursor: pointer;
}

button {
  font-size: 22px;
  font-family: "Playfair Display", serif;
  background-color: var(--button-color);
  border-radius: 12px;
  padding-inline: 0.5rem;
  text-align: center;
  cursor: pointer;
}

button:hover {
  color: var(--background-color);
}

.question_section_container {
  align-items: center;
}

@media only screen and (min-width: 700px) {
  main {
    margin-top: 6.5rem;
  }

  .question_section_container {
    margin-inline: 8rem;
  }
}

@media only screen and (min-width: 1300px) {
  .question_section_container {
    margin-inline: 12rem;
  }
}

/*FOOTER*/
footer {
  background-color: var(--footer-color);
}

.footer {
  display: grid;
}

.footer_first {
  display: grid;
}

.footer_1 {
  text-align: center;
  padding-bottom: 80px;
  padding-top: 30px;
}
@media (min-width: 1000px) {
  .footer_1 {
    padding-top: 100px;
  }
}

.footer_2 {
  text-align: center;
  padding-bottom: 80px;
}

@media (min-width: 600px) {
  .footer_2 {
    padding-top: 30px;
  }
}
@media (min-width: 1000px) {
  .footer_2 {
    padding-top: 100px;
  }
}

.footer_second {
  display: grid;
}

.footer_3 {
  text-align: center;
  padding-bottom: 80px;
}

@media (min-width: 1000px) {
  .footer_3 {
    padding-top: 100px;
  }
}

.footer_4 {
  text-align: center;
  padding-bottom: 30px;
}
@media (min-width: 1000px) {
  .footer_4 {
    padding-top: 100px;
  }
}

@media (min-width: 600px) {
  .footer_first,
  .footer_second {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  .footer {
    grid-template-columns: 1fr 1fr;
  }
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  padding-bottom: 40px;
  width: 30%;
}

/*FOOTER*/
@media (min-width: 1200px) {
  .footer {
    margin-inline: 4rem;
  }
}

@media (min-width: 1600px) {
  .footer {
    margin-inline: 12rem;
  }
}

@media (min-width: 1000px) {
  .center {
    width: 15%;
  }
}
